<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
	//= include/header.html
	<section class="main-screen">
		<div class="main-screen__content">
			<h1 class="main-screen__title">Агенство по организации детских праздников в Москве</h1>
			<span class="main-screen__subtitle">Гарантируем весёлый и интересный праздник</span>
			<button type="button" class="button">Связаться с нами</button>
			<a class="main-screen__arrow" href="!#"></a>
		</div>
	</section>
	<section class="about-us">
		<div class="about-us__content">
			<h2 class="title-section">О нас</h2>
			<div class="about-us__grid">
				<div class="about-us__grid-item">
					<div class="about-us__grid-item-img"><img src="img/payment.svg" alt="Оплата"></div>
					<b class="about-us__grid-item-title">Оплата по факту</b>
					<p class="about-us__grid-item-descr">Оплата только после проведенного праздника.</p>
				</div>
				<div class="about-us__grid-item">
					<div class="about-us__grid-item-img"><img src="img/clock.svg" alt="Время"></div>
					<b class="about-us__grid-item-title">Всегда вовремя
					</b>
					<p class="about-us__grid-item-descr">Приедем за 20 минут до начала праздника.</p>
				</div>
				<div class="about-us__grid-item">
					<div class="about-us__grid-item-img"><img src="img/program.svg" alt="Сценарий"></div>
					<b class="about-us__grid-item-title">Собственные сценаристы</b>
					<p class="about-us__grid-item-descr">Индивидуальные программы</p>
				</div>
				<div class="about-us__grid-item">
					<div class="about-us__grid-item-img"><img src="img/costume.svg" alt="Оплата"></div>
					<b class="about-us__grid-item-title">Новейшие костюмы</b>
					<p class="about-us__grid-item-descr">Более 300 костюмов <br>высшего качества.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="animators">
		<div class="animators__content">
			<h2 class="title-section">Аниматоры</h2>
			<div class="animators__grid">
				<div class="animators__grid-item">
					<b class="animators__grid-item-title">Дедпул</b>
					<div class="animators__grid-item-image">
						<img src="img/anim1.png" alt="">
					</div>
					<button type="button" class="button button--card">Подробнее</button>
				</div>
				<div class="animators__grid-item">
					<b class="animators__grid-item-title">Бамблби</b>
					<div class="animators__grid-item-image">
						<img src="img/anim2.png" alt="">
					</div>
					<button type="button" class="button button--card">Подробнее</button>
				</div>
				<div class="animators__grid-item">
					<b class="animators__grid-item-title">Малифисента</b>
					<div class="animators__grid-item-image">
						<img src="img/anim3.png" alt="">
					</div>
					<button type="button" class="button button--card">Подробнее</button>
				</div>
				<div class="animators__grid-item">
					<b class="animators__grid-item-title">Капитан-Америка</b>
					<div class="animators__grid-item-image">
						<img src="img/anim4.png" alt="">
					</div>
					<button type="button" class="button button--card">Подробнее</button>
				</div>
				<div class="animators__grid-item">
					<b class="animators__grid-item-title">Дедпул</b>
					<div class="animators__grid-item-image">
						<img src="img/anim1.png" alt="">
					</div>
					<button type="button" class="button button--card">Подробнее</button>
				</div>
				<div class="animators__grid-item">
					<b class="animators__grid-item-title">Бамблби</b>
					<div class="animators__grid-item-image">
						<img src="img/anim2.png" alt="">
					</div>
					<button type="button" class="button button--card">Подробнее</button>
				</div>
				<div class="animators__grid-item">
					<b class="animators__grid-item-title">Малифисента</b>
					<div class="animators__grid-item-image">
						<img src="img/anim3.png" alt="">
					</div>
					<button type="button" class="button button--card">Подробнее</button>
				</div>
				<div class="animators__grid-item">
					<b class="animators__grid-item-title">Капитан-Америка</b>
					<div class="animators__grid-item-image">
						<img src="img/anim4.png" alt="">
					</div>
					<button type="button" class="button button--card">Подробнее</button>
				</div>
			</div>
			<button type="button" class="button">Все персонажи</button>
		</div>
	</section>
	<section class="services">
		<div class="services__content">
			<h2 class="title-section title-section--w">Услуги</h2>
			<div class="services__grid">
				<div class="services__grid-item">
					<div class="services__grid-item-level">
						<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
					</div>
					<b class="services__grid-item-title">Стандарт</b>
					<ul class="services__grid-item-list">
						<li class="services__grid-item-list-item">1 аниматор, 1 час (любой образ)</li>
						<li class="services__grid-item-list-item">Химическое шоу или шоу <br>мыльных пузырей, 40 минут</li>
					</ul>
					<span class="services__grid-item-price-old">12 000 ₽</span>
					<span class="services__grid-item-price-new">9 500 ₽</span>
					<button class="button button--card">Заказать</button>
				</div>
				<div class="services__grid-item">
					<div class="services__grid-item-level">
						<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
						<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
					</div>
					<b class="services__grid-item-title">Премиум</b>
					<ul class="services__grid-item-list">
						<li class="services__grid-item-list-item">2 аниматора, 1 час (любой образ)</li>
						<li class="services__grid-item-list-item">Химическое шоу, 1 ученый, 1 час</li>
					</ul>
					<span class="services__grid-item-price-old">18 000 ₽</span>
					<span class="services__grid-item-price-new">12 500 ₽</span>
					<button class="button button--card">Заказать</button>
				</div>
				<div class="services__grid-item">
					<div class="services__grid-item-level">
						<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
						<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
						<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
					</div>
					<b class="services__grid-item-title">Вип</b>
					<ul class="services__grid-item-list">
						<li class="services__grid-item-list-item">2 аниматора, 1 час (любой образ) </li>
						<li class="services__grid-item-list-item">Химическое шоу, 2 ученых, 1 час</li>
						<li class="services__grid-item-list-item">Бумажное шоу + дискотека, 1 час</li>
						<li class="services__grid-item-list-item">Фотограф, 3 часа</li>
					</ul>
					<span class="services__grid-item-price-old">55 000 ₽</span>
					<span class="services__grid-item-price-new">35 500 ₽</span>
					<button class="button button--card">Заказать</button>
				</div>
			</div>
		</div>
	</section>
	<section class="program">
		<div class="program__content">
			<h2 class="title-section">Программа</h2>
			<div class="program__title">1 час анимации включает:</div>
			<div class="program__grid">
				<div class="program__grid-item"><img src="img/actor.svg" alt="Актёр" class="program__grid-item-img"><b class="program__grid-item-name">Опытный актер</b></div>
				<div class="program__grid-item"><img src="img/game.svg" alt="Игры" class="program__grid-item-img"><b class="program__grid-item-name">Весёлые игры</b></div>
				<div class="program__grid-item"><img src="img/magic.svg" alt="Аквагрим/фокусы" class="program__grid-item-img"><b class="program__grid-item-name">Аквагрим/фокусы</b></div>
				<div class="program__grid-item"><img src="img/music.svg" alt="Музыка" class="program__grid-item-img"><b class="program__grid-item-name">Музыка</b></div>
				<div class="program__grid-item"><img src="img/bubbles.svg" alt="" class="program__grid-item-img"><b class="program__grid-item-name">Шоу мыльных пузырей</b></div>
				<div class="program__grid-item"><img src="img/present.svg" alt="Подарки" class="program__grid-item-img"><b class="program__grid-item-name">Подарки детям</b></div>
				<div class="program__grid-item"><img src="img/book.svg" alt="Программа" class="program__grid-item-img"><b class="program__grid-item-name">Тематическая программа</b></div>
				<div class="program__grid-item"><img src="img/cake.svg" alt="Торт" class="program__grid-item-img"><b class="program__grid-item-name">Вынос торта</b></div>
			</div>
		</div>
	</section>
	<section class="show-program">
		<div class="show-program__content">
			<h2 class="title-section title-section--w">Шоу программы</h2>
		</div>
	</section>
	//= include/footer.html
	<script src="js/app.min.js"></script>
</body>

</html>