<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
	//= include/header.html
	<main class="page-main">
		<section class="main-screen">
			<div class="main-screen__content">
				<h1 class="main-screen__title">Агенство по организации детских праздников в Москве</h1>
				<span class="main-screen__subtitle">Гарантируем весёлый и интересный праздник</span>
				<button type="button" class="button" data-popup="form">Связаться с нами</button>
				<a class="main-screen__arrow" onclick="$('.about-us .title-section').animatescroll();"></a>
			</div>
		</section>
		<section class="about-us">
			<div class="about-us__content">
				<h2 class="title-section">О нас</h2>
				<div class="about-us__grid">
					<div class="about-us__grid-item">
						<div class="about-us__grid-item-img"><img src="img/payment.svg" alt="Оплата"></div>
						<b class="about-us__grid-item-title">Оплата по факту</b>
						<p class="about-us__grid-item-descr">Оплата только после проведенного праздника.</p>
					</div>
					<div class="about-us__grid-item">
						<div class="about-us__grid-item-img"><img src="img/clock.svg" alt="Время"></div>
						<b class="about-us__grid-item-title">Всегда вовремя
						</b>
						<p class="about-us__grid-item-descr">Приедем за 20 минут до начала праздника.</p>
					</div>
					<div class="about-us__grid-item">
						<div class="about-us__grid-item-img"><img src="img/program.svg" alt="Сценарий"></div>
						<b class="about-us__grid-item-title">Собственные сценаристы</b>
						<p class="about-us__grid-item-descr">Индивидуальные программы</p>
					</div>
					<div class="about-us__grid-item">
						<div class="about-us__grid-item-img"><img src="img/costume.svg" alt="Оплата"></div>
						<b class="about-us__grid-item-title">Новейшие костюмы</b>
						<p class="about-us__grid-item-descr">Более 300 костюмов <br>высшего качества.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="animators">
			<div class="animators__content">
				<h2 class="title-section">Аниматоры</h2>
				<div class="animators__grid">
					<div class="animators__grid-item">
						<b class="animators__grid-item-title">Дедпул</b>
						<div class="animators__grid-item-image">
							<img src="img/anim1.png" alt="">
						</div>
						<button type="button" class="button button--card">Подробнее</button>
					</div>
					<div class="animators__grid-item">
						<b class="animators__grid-item-title">Бамблби</b>
						<div class="animators__grid-item-image">
							<img src="img/anim2.png" alt="">
						</div>
						<button type="button" class="button button--card">Подробнее</button>
					</div>
					<div class="animators__grid-item">
						<b class="animators__grid-item-title">Малифисента</b>
						<div class="animators__grid-item-image">
							<img src="img/anim3.png" alt="">
						</div>
						<button type="button" class="button button--card">Подробнее</button>
					</div>
					<div class="animators__grid-item">
						<b class="animators__grid-item-title">Капитан-Америка</b>
						<div class="animators__grid-item-image">
							<img src="img/anim4.png" alt="">
						</div>
						<button type="button" class="button button--card">Подробнее</button>
					</div>
					<div class="animators__grid-item">
						<b class="animators__grid-item-title">Дедпул</b>
						<div class="animators__grid-item-image">
							<img src="img/anim1.png" alt="">
						</div>
						<button type="button" class="button button--card">Подробнее</button>
					</div>
					<div class="animators__grid-item">
						<b class="animators__grid-item-title">Бамблби</b>
						<div class="animators__grid-item-image">
							<img src="img/anim2.png" alt="">
						</div>
						<button type="button" class="button button--card">Подробнее</button>
					</div>
					<div class="animators__grid-item">
						<b class="animators__grid-item-title">Малифисента</b>
						<div class="animators__grid-item-image">
							<img src="img/anim3.png" alt="">
						</div>
						<button type="button" class="button button--card">Подробнее</button>
					</div>
					<div class="animators__grid-item">
						<b class="animators__grid-item-title">Капитан-Америка</b>
						<div class="animators__grid-item-image">
							<img src="img/anim4.png" alt="">
						</div>
						<button type="button" class="button button--card">Подробнее</button>
					</div>
					<div class="animators__grid-item">
						<b class="animators__grid-item-title">Капитан-Америка</b>
						<div class="animators__grid-item-image">
							<img src="img/anim4.png" alt="">
						</div>
						<button type="button" class="button button--card">Подробнее</button>
					</div>
				</div>
				<button type="button" class="button">Все персонажи</button>
			</div>
		</section>
		<section class="services">
			<div class="services__content">
				<h2 class="title-section title-section--w">Услуги</h2>
				<div class="services__grid">
					<div class="services__grid-item">
						<div class="services__grid-item-level">
							<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
						</div>
						<b class="services__grid-item-title">Стандарт</b>
						<ul class="services__grid-item-list">
							<li class="services__grid-item-list-item">1 аниматор, 1 час (любой образ)</li>
							<li class="services__grid-item-list-item">Химическое шоу или шоу <br>мыльных пузырей, 40 минут</li>
						</ul>
						<span class="services__grid-item-price-old">12 000 ₽</span>
						<span class="services__grid-item-price-new">9 500 ₽</span>
						<button class="button button--card" data-popup="form">Заказать</button>
					</div>
					<div class="services__grid-item">
						<div class="services__grid-item-level">
							<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
							<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
						</div>
						<b class="services__grid-item-title">Премиум</b>
						<ul class="services__grid-item-list">
							<li class="services__grid-item-list-item">2 аниматора, 1 час (любой образ)</li>
							<li class="services__grid-item-list-item">Химическое шоу, 1 ученый, 1 час</li>
						</ul>
						<span class="services__grid-item-price-old">18 000 ₽</span>
						<span class="services__grid-item-price-new">12 500 ₽</span>
						<button class="button button--card" data-popup="form">Заказать</button>
					</div>
					<div class="services__grid-item">
						<div class="services__grid-item-level">
							<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
							<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
							<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
						</div>
						<b class="services__grid-item-title">Вип</b>
						<ul class="services__grid-item-list">
							<li class="services__grid-item-list-item">2 аниматора, 1 час (любой образ) </li>
							<li class="services__grid-item-list-item">Химическое шоу, 2 ученых, 1 час</li>
							<li class="services__grid-item-list-item">Бумажное шоу + дискотека, 1 час</li>
							<li class="services__grid-item-list-item">Фотограф, 3 часа</li>
						</ul>
						<span class="services__grid-item-price-old">55 000 ₽</span>
						<span class="services__grid-item-price-new">35 500 ₽</span>
						<button class="button button--card" data-popup="form">Заказать</button>
					</div>
				</div>
			</div>
		</section>
		<section class="program">
			<div class="program__content">
				<h2 class="title-section">Программа</h2>
				<div class="program__title">1 час анимации включает:</div>
				<div class="program__grid">
					<div class="program__grid-item"><img src="img/actor.svg" alt="Актёр" class="program__grid-item-img"><b class="program__grid-item-name">Опытный актер</b></div>
					<div class="program__grid-item"><img src="img/game.svg" alt="Игры" class="program__grid-item-img"><b class="program__grid-item-name">Весёлые игры</b></div>
					<div class="program__grid-item"><img src="img/magic.svg" alt="Аквагрим/фокусы" class="program__grid-item-img"><b class="program__grid-item-name">Аквагрим/фокусы</b></div>
					<div class="program__grid-item"><img src="img/music.svg" alt="Музыка" class="program__grid-item-img"><b class="program__grid-item-name">Музыка</b></div>
					<div class="program__grid-item"><img src="img/bubbles.svg" alt="" class="program__grid-item-img"><b class="program__grid-item-name">Шоу мыльных пузырей</b></div>
					<div class="program__grid-item"><img src="img/present.svg" alt="Подарки" class="program__grid-item-img"><b class="program__grid-item-name">Подарки детям</b></div>
					<div class="program__grid-item"><img src="img/book.svg" alt="Программа" class="program__grid-item-img"><b class="program__grid-item-name">Тематическая программа</b></div>
					<div class="program__grid-item"><img src="img/cake.svg" alt="Торт" class="program__grid-item-img"><b class="program__grid-item-name">Вынос торта</b></div>
				</div>
			</div>
		</section>
		<section class="show-program">
			<div class="show-program__content">
				<h2 class="title-section title-section--w">Шоу программы</h2>
				<div class="show-program__grid">
					<div class="show-program__grid-item">
						<b class="show-program__grid-item-title">Крио шоу</b>
						<img src="img/program1.png" alt="" class="show-program__grid-item-image">
						<div class="show-program__grid-item-descr">
							<div class="show-program__grid-item-descr-time">
								<img src="img/watch.svg" alt="Время" class="show-program__grid-item-descr-time-image">
								<span class="show-program__grid-item-descr-time-value">45 минут</span>
							</div>
							<div class="show-program__grid-item-descr-price">
								<img src="img/money.svg" alt="Цена" class="show-program__grid-item-descr-price-image">
								<span class="show-program__grid-item-descr-price-value">9500 - 10500 руб.</span>
							</div>
						</div>
						<button class="button button--card">Подробнее</button>
					</div>
					<div class="show-program__grid-item">
						<b class="show-program__grid-item-title">Химическое шоу</b>
						<img src="img/program2.png" alt="" class="show-program__grid-item-image">
						<div class="show-program__grid-item-descr">
							<div class="show-program__grid-item-descr-time">
								<img src="img/watch.svg" alt="Время" class="show-program__grid-item-descr-time-image">
								<span class="show-program__grid-item-descr-time-value">40 минут</span>
							</div>
							<div class="show-program__grid-item-descr-price">
								<img src="img/money.svg" alt="Цена" class="show-program__grid-item-descr-price-image">
								<span class="show-program__grid-item-descr-price-value">8500 - 9500 руб.</span>
							</div>
						</div>
						<button class="button button--card">Подробнее</button>
					</div>
					<div class="show-program__grid-item">
						<b class="show-program__grid-item-title">Шоу мыльных пузырей</b>
						<img src="img/program3.png" alt="" class="show-program__grid-item-image">
						<div class="show-program__grid-item-descr">
							<div class="show-program__grid-item-descr-time">
								<img src="img/watch.svg" alt="Время" class="show-program__grid-item-descr-time-image">
								<span class="show-program__grid-item-descr-time-value">40 минут</span>
							</div>
							<div class="show-program__grid-item-descr-price">
								<img src="img/money.svg" alt="Цена" class="show-program__grid-item-descr-price-image">
								<span class="show-program__grid-item-descr-price-value">6500 - 7000 руб.</span>
							</div>
						</div>
						<button class="button button--card">Подробнее</button>
					</div>
					<div class="show-program__grid-item">
						<b class="show-program__grid-item-title">Бумажная дискотека</b>
						<img src="img/program4.png" alt="" class="show-program__grid-item-image">
						<div class="show-program__grid-item-descr">
							<div class="show-program__grid-item-descr-time">
								<img src="img/watch.svg" alt="Время" class="show-program__grid-item-descr-time-image">
								<span class="show-program__grid-item-descr-time-value">45 минут</span>
							</div>
							<div class="show-program__grid-item-descr-price">
								<img src="img/money.svg" alt="Цена" class="show-program__grid-item-descr-price-image">
								<span class="show-program__grid-item-descr-price-value">От 13 000 руб.</span>
							</div>
						</div>
						<button class="button button--card">Подробнее</button>
					</div>
				</div>
				<button class="button">Все программы</button>
			</div>
		</section>
		<section class="additional">
			<div class="additional__content">
				<h2 class="title-section">Дополнительно</h2>
				<div class="additional__grid">
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Фотосъёмка</b>
						<img src="img/dop1.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">3 500 руб.</span></div>
					</div>
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Видеосъёмка</b>
						<img src="img/dop2.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">4 500 руб.</span></div>
					</div>
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Украшение шарами</b>
						<img src="img/dop3.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">От 5 000 руб.</span></div>
					</div>
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Аквагримёр</b>
						<img src="img/dop4.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">4 000 руб.</span></div>
					</div>
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Светомузыка</b>
						<img src="img/dop5.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">9 000 руб.</span></div>
					</div>
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Шаржист</b>
						<img src="img/dop6.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">4 000 руб.</span></div>
					</div>
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Сладкая вата</b>
						<img src="img/dop7.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">4 500 руб.</span></div>
					</div>
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Шоколадный фонтан</b>
						<img src="img/dop8.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">5 500 руб.</span></div>
					</div>
				</div>
			</div>
		</section>
		<section class="reviews">
			<div class="reviews__content">
				<h2 class="title-section title-section--w">Отзывы</h2>
				<div class="reviews__video">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/qGn9LDl1sA0?controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</section>
		<section class="contacts">
			<div class="contacts__content">
				<h2 class="title-section">Контакты</h2>
				<div class="contacts__link">
					<div class="contacts__link-mail">
						<img src="img/envelope.svg" alt="Почта" class="contacts__link-mail-image">
						<a href="mailto:info@starkids.studio" class="contacts__link-mail-value">info@starkids.studio</a>
					</div>
					<div class="contacts__link-phone">
						<img src="img/phone.svg" alt="Телефон" class="contacts__link-phone-image">
						<a href="tel:89160073568" class="contacts__link-phone-value">89160073568</a>
					</div>
					<div class="contacts__link-social">
						<a href="" class="contacts__link-social-item contacts__link-social-item--insta">Instagram</a>
						<a href="" class="contacts__link-social-item contacts__link-social-item--telegram">Telegram</a>
						<a href="" class="contacts__link-social-item contacts__link-social-item--viber">Viber</a>
						<a href="" class="contacts__link-social-item contacts__link-social-item--whatsapp">Whatsapp</a>
					</div>
				</div>
			</div>
		</section>
	</main>
	//= include/footer.html
	<div class="overlay"></div>
	<form action="" class="popup-form">
		<div class="popup-form__close"></div>
		<b class="popup-form__title">Наш специалист свяжется с вами
			и ответит на все вопросы.</b>
		<div class="popup-form__bunch">
			<label for="name">
				<input type="text" id="name" name="name" required>
				<div>Имя</div>
			</label>
		</div>
		<div class="popup-form__bunch">
			<label for="tel">
				<input type="tel" id="tel" name="tel" required>
				<div>Телефон</div>
			</label>
		</div>
		<button type="submit" class="popup-form__button">Заказать</button>
	</form>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="js/app.min.js"></script>
</body>

</html>