<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
	//= include/header.html
	<main class="page-main">
		<section class="main-screen">
			<div class="main-screen__content">
				<h1 class="main-screen__title">Агенство по организации детских праздников в Москве</h1>
				<span class="main-screen__subtitle">Гарантируем весёлый и интересный праздник</span>
				<button type="button" class="button" data-popup="form">Связаться с нами</button>
				<a class="main-screen__arrow" onclick="$('.about-us .title-section').animatescroll();"></a>
			</div>
		</section>
		<section class="about-us">
			<div class="about-us__content">
				<h2 class="title-section">О нас</h2>
				<div class="about-us__grid">
					<div class="about-us__grid-item">
						<div class="about-us__grid-item-img"><img src="img/payment.svg" alt="Оплата"></div>
						<b class="about-us__grid-item-title">Оплата по факту</b>
						<p class="about-us__grid-item-descr">Оплата только после проведенного праздника.</p>
					</div>
					<div class="about-us__grid-item">
						<div class="about-us__grid-item-img"><img src="img/clock.svg" alt="Время"></div>
						<b class="about-us__grid-item-title">Всегда вовремя
						</b>
						<p class="about-us__grid-item-descr">Приедем за 20 минут до начала праздника.</p>
					</div>
					<div class="about-us__grid-item">
						<div class="about-us__grid-item-img"><img src="img/program.svg" alt="Сценарий"></div>
						<b class="about-us__grid-item-title">Собственные сценаристы</b>
						<p class="about-us__grid-item-descr">Индивидуальные программы</p>
					</div>
					<div class="about-us__grid-item">
						<div class="about-us__grid-item-img"><img src="img/costume.svg" alt="Оплата"></div>
						<b class="about-us__grid-item-title">Новейшие костюмы</b>
						<p class="about-us__grid-item-descr">Более 300 костюмов <br>высшего качества.</p>
					</div>
				</div>
			</div>
		</section>
		//= include/animators.html
		<section class="services">
			<div class="services__content">
				<h2 class="title-section title-section--w">Услуги</h2>
				<div class="services__grid">
					<div class="services__grid-item">
						<div class="services__grid-item-level">
							<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
						</div>
						<b class="services__grid-item-title">Стандарт</b>
						<ul class="services__grid-item-list">
							<li class="services__grid-item-list-item">1 аниматор, 1 час (любой образ)</li>
							<li class="services__grid-item-list-item">Химическое шоу или шоу <br>мыльных пузырей, 40 минут</li>
						</ul>
						<span class="services__grid-item-price-old">12 000 ₽</span>
						<span class="services__grid-item-price-new">9 500 ₽</span>
						<button class="button button--card" data-popup="form">Заказать</button>
					</div>
					<div class="services__grid-item">
						<div class="services__grid-item-level">
							<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
							<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
						</div>
						<b class="services__grid-item-title">Премиум</b>
						<ul class="services__grid-item-list">
							<li class="services__grid-item-list-item">2 аниматора, 1 час (любой образ)</li>
							<li class="services__grid-item-list-item">Химическое шоу, 1 ученый, 1 час</li>
						</ul>
						<span class="services__grid-item-price-old">18 000 ₽</span>
						<span class="services__grid-item-price-new">12 500 ₽</span>
						<button class="button button--card" data-popup="form">Заказать</button>
					</div>
					<div class="services__grid-item">
						<div class="services__grid-item-level">
							<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
							<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
							<img src="img/star.svg" alt="Звезда" class="services__grid-item-level-img">
						</div>
						<b class="services__grid-item-title">Вип</b>
						<ul class="services__grid-item-list">
							<li class="services__grid-item-list-item">2 аниматора, 1 час (любой образ) </li>
							<li class="services__grid-item-list-item">Химическое шоу, 2 ученых, 1 час</li>
							<li class="services__grid-item-list-item">Бумажное шоу + дискотека, 1 час</li>
							<li class="services__grid-item-list-item">Фотограф, 3 часа</li>
						</ul>
						<span class="services__grid-item-price-old">55 000 ₽</span>
						<span class="services__grid-item-price-new">35 500 ₽</span>
						<button class="button button--card" data-popup="form">Заказать</button>
					</div>
				</div>
			</div>
		</section>
		<section class="program">
			<div class="program__content">
				<h2 class="title-section">Программа</h2>
				<div class="program__title">1 час анимации включает:</div>
				<div class="program__grid">
					<div class="program__grid-item"><img src="img/actor.svg" alt="Актёр" class="program__grid-item-img"><b class="program__grid-item-name">Опытный актер</b></div>
					<div class="program__grid-item"><img src="img/game.svg" alt="Игры" class="program__grid-item-img"><b class="program__grid-item-name">Весёлые игры</b></div>
					<div class="program__grid-item"><img src="img/magic.svg" alt="Аквагрим/фокусы" class="program__grid-item-img"><b class="program__grid-item-name">Аквагрим/фокусы</b></div>
					<div class="program__grid-item"><img src="img/music.svg" alt="Музыка" class="program__grid-item-img"><b class="program__grid-item-name">Музыка</b></div>
					<div class="program__grid-item"><img src="img/bubbles.svg" alt="" class="program__grid-item-img"><b class="program__grid-item-name">Шоу мыльных пузырей</b></div>
					<div class="program__grid-item"><img src="img/present.svg" alt="Подарки" class="program__grid-item-img"><b class="program__grid-item-name">Подарки детям</b></div>
					<div class="program__grid-item"><img src="img/book.svg" alt="Программа" class="program__grid-item-img"><b class="program__grid-item-name">Тематическая программа</b></div>
					<div class="program__grid-item"><img src="img/cake.svg" alt="Торт" class="program__grid-item-img"><b class="program__grid-item-name">Вынос торта</b></div>
				</div>
			</div>
		</section>
		<section class="show-program">
			<div class="show-program__content">
				<h2 class="title-section title-section--w">Шоу программы</h2>
				<div class="show-program__grid">
					<div class="show-program__grid-item">
						<b class="show-program__grid-item-title">Крио шоу</b>
						<img src="img/program1.png" alt="" class="show-program__grid-item-image">
						<div class="show-program__grid-item-descr">
							<div class="show-program__grid-item-descr-time">
								<img src="img/watch.svg" alt="Время" class="show-program__grid-item-descr-time-image">
								<span class="show-program__grid-item-descr-time-value">45 минут</span>
							</div>
							<div class="show-program__grid-item-descr-price">
								<img src="img/money.svg" alt="Цена" class="show-program__grid-item-descr-price-image">
								<span class="show-program__grid-item-descr-price-value">9500 - 10500 руб.</span>
							</div>
						</div>
						<div class="show-program__grid-item-hidden">
							Занимательное крио шоу профессора Штейна раскроет детям секретные разработки веселой научной лаборатории. Невероятные эксперименты, фантастические опыты и чудесные превращения – специально для Вашего праздника! Ребята познакомятся с морозным дыханием, услышат выступление поющего льда, увидят бурление без кипячения и многое другое! Какой праздник без шалостей? Мы создадим уникальную дымовую супергазировку, потанцуем на пенной вечеринке с пенным вулканом и зарядимся супер энергией на супер дымовухе! А еще - для каждого профессор Штейн приготовил подарки - настоящий магический шар желаний!
						</div>
						<button class="button button--card" data-popup="descr">Подробнее</button>
					</div>
					<div class="show-program__grid-item">
						<b class="show-program__grid-item-title">Химическое шоу</b>
						<img src="img/program2.png" alt="" class="show-program__grid-item-image">
						<div class="show-program__grid-item-descr">
							<div class="show-program__grid-item-descr-time">
								<img src="img/watch.svg" alt="Время" class="show-program__grid-item-descr-time-image">
								<span class="show-program__grid-item-descr-time-value">40 минут</span>
							</div>
							<div class="show-program__grid-item-descr-price">
								<img src="img/money.svg" alt="Цена" class="show-program__grid-item-descr-price-image">
								<span class="show-program__grid-item-descr-price-value">8500 - 9500 руб.</span>
							</div>
						</div>
						<div class="show-program__grid-item-hidden">
							А может быть вы ищете что-то интересное для празднования детского дня рождения? Или просто хочется устроить невероятно веселый и необычный праздник? Химическое представление от сумасшедшего профессора – то, что вам нужно! Здесь нет места скуке, здесь каждый ребенок вовлечен в процесс удивительных экспериментов, которые расскажут об устройстве окружающего мира. Химическое шоу «Наукомания» станет главным гвоздем праздничной программы и точно не оставит равнодушным ни одного участника!
							Праздник для любознательных! Это одно из самых популярных химических шоу для детей в репертуаре проекта «Наукомания»! Здесь собраны наиболее интересные эксперименты, интересные всем без исключения. Такая программа научного химического шоу подойдет для почемучек от 5 до 14 лет.
						</div>
						<button class="button button--card" data-popup="descr">Подробнее</button>
					</div>
					<div class="show-program__grid-item">
						<b class="show-program__grid-item-title">Шоу мыльных пузырей</b>
						<img src="img/program3.png" alt="" class="show-program__grid-item-image">
						<div class="show-program__grid-item-descr">
							<div class="show-program__grid-item-descr-time">
								<img src="img/watch.svg" alt="Время" class="show-program__grid-item-descr-time-image">
								<span class="show-program__grid-item-descr-time-value">40 минут</span>
							</div>
							<div class="show-program__grid-item-descr-price">
								<img src="img/money.svg" alt="Цена" class="show-program__grid-item-descr-price-image">
								<span class="show-program__grid-item-descr-price-value">6500 - 7000 руб.</span>
							</div>
						</div>
						<div class="show-program__grid-item-hidden">
							Превращаем праздник в настоящую сказку! Как? Очень просто! Скорее звоните нам и заказывайте шоу мыльных пузырей! Необычное шоу, в котором Вас ждут: невероятная радуга из переливающихся пузырей любых размеров, сложные и эффектные трюки, дымовые и огненные пузыри, а также: можно даже самому оказаться в мыльном пузыре или попробовать его выдуть - это очень интересно и весело! И конечно, пузыри забавно лопаются, летают, создают атмосферу волшебства. При проведении шоу мыльных пузырей в помещении используется специальное напольное покрытие, поэтому такая программа может проводиться как в помещении, так и на улице. Самое популярное и зрелищное представление на Вашем празднике от студии «Star Kinds»
							Большие и маленькие, искрящиеся и манящие… Это всё – удивительное шоу мыльных пузырей! <br>
							Шоу может быть как дополнением к анимационной программе, так и отдельным превосходным сюрпризом. О впечатлении, которое производят пузыри, и говорить не стоит: это просто–напросто чудо!
						</div>
						<button class="button button--card" data-popup="descr">Подробнее</button>
					</div>
					<div class="show-program__grid-item">
						<b class="show-program__grid-item-title">Бумажная дискотека</b>
						<img src="img/program4.png" alt="" class="show-program__grid-item-image">
						<div class="show-program__grid-item-descr">
							<div class="show-program__grid-item-descr-time">
								<img src="img/watch.svg" alt="Время" class="show-program__grid-item-descr-time-image">
								<span class="show-program__grid-item-descr-time-value">45 минут</span>
							</div>
							<div class="show-program__grid-item-descr-price">
								<img src="img/money.svg" alt="Цена" class="show-program__grid-item-descr-price-image">
								<span class="show-program__grid-item-descr-price-value">От 13 000 руб.</span>
							</div>
						</div>
						<div class="show-program__grid-item-hidden">
							Бумажное шоу. Дети обожают подобного рода представления. Всех гстей ждут целые вихри серпантина, бумажные снопы и потоки разноцветных конфетти! Наши мастера всегда креативно подходят к своей работе. Восхитительное зрелище увлечет с головой не только детей, присутствующих на празднике, но и всех взрослых! <br>
							Мы подберём программу специально для вашего праздника, в зависимости от возраста, пола, интересов детей и т.д.
						</div>
						<button class="button button--card" data-popup="descr">Подробнее</button>
					</div>
					<div class="show-program__grid-item">
						<b class="show-program__grid-item-title">Тесла шоу</b>
						<img src="img/program5.png" alt="" class="show-program__grid-item-image">
						<div class="show-program__grid-item-descr">
							<div class="show-program__grid-item-descr-time">
								<img src="img/watch.svg" alt="Время" class="show-program__grid-item-descr-time-image">
								<span class="show-program__grid-item-descr-time-value">30 минут</span>
							</div>
							<div class="show-program__grid-item-descr-price">
								<img src="img/money.svg" alt="Цена" class="show-program__grid-item-descr-price-image">
								<span class="show-program__grid-item-descr-price-value">17 000 руб.</span>
							</div>
						</div>
						<div class="show-program__grid-item-hidden">
							Тесла-Шоу - это целое представление великолепных физических открытий на вашем мероприятии! Большие и малые катушки, эффектные мерцающие молнии, которыми управляет ведущий и обучает гостей, яркие летающие лампочки, много света и возможность окунуться в удивительный мир науки самым необычным способом! Благодаря такому шоу гости узнают: как рождается молния, как человек может проводить электричество, а также, самые маленькие гости праздника впервые прикоснутся к магнитному полю, которое окажется на их ладонях и также неожиданно исчезнет! Шоу проводится в любом помещении без использования электричества. Полностью безопасно и на требует специальной подготовки площадки.
						</div>
						<button class="button button--card" data-popup="descr">Подробнее</button>
					</div>
					<div class="show-program__grid-item">
						<b class="show-program__grid-item-title">Фокусник</b>
						<img src="img/program6.png" alt="" class="show-program__grid-item-image">
						<div class="show-program__grid-item-descr">
							<div class="show-program__grid-item-descr-time">
								<img src="img/watch.svg" alt="Время" class="show-program__grid-item-descr-time-image">
								<span class="show-program__grid-item-descr-time-value">30 минут</span>
							</div>
							<div class="show-program__grid-item-descr-price">
								<img src="img/money.svg" alt="Цена" class="show-program__grid-item-descr-price-image">
								<span class="show-program__grid-item-descr-price-value">10 000 руб.</span>
							</div>
						</div>
						<div class="show-program__grid-item-hidden">
							Какой ребенок не мечтает увидеть настоящее чудо? Да и взрослым доставляет огромное удовольствие наблюдать то, что не в силах объяснить их видавший виды разум. Мы об этом всём знаем и рады познакомить вас с нашим удивительным фокусником! Он станет превосходным дополнением развлекательной программы с аниматорами. В программе китайские фокусы, фокусы с огнем, левитация, исчезновение предметов, волшебные пузыри, «оживший зверек» и многое другое. Так что закажите фокусника на праздник - море ярких впечатлений Вам обеспечено! <br>
							Наш фокусник в первую очередь работает с эмоциями людей, а сложный реквизит и отточенные движения рук являются инструментами, которые поднимают настроение всех присутствующих. Демонстрация фокусов становится больше, чем занятная головоломка для пытливого ума. Фокусы становятся почти чудом, и происходит оно не где-то далеко, а прямо перед Вами. <br>
							Программа с фокусником проходит в режиме интерактива, а зрители становятся участниками самих фокусов. Так что и дети, и взрослые заряжаются яркими эмоциями.
						</div>
						<button class="button button--card" data-popup="descr">Подробнее</button>
					</div>
					<div class="show-program__grid-item">
						<b class="show-program__grid-item-title">Фокусник с животными</b>
						<img src="img/program7.png" alt="" class="show-program__grid-item-image">
						<div class="show-program__grid-item-descr">
							<div class="show-program__grid-item-descr-time">
								<img src="img/watch.svg" alt="Время" class="show-program__grid-item-descr-time-image">
								<span class="show-program__grid-item-descr-time-value">30 минут</span>
							</div>
							<div class="show-program__grid-item-descr-price">
								<img src="img/money.svg" alt="Цена" class="show-program__grid-item-descr-price-image">
								<span class="show-program__grid-item-descr-price-value">16 000 руб.</span>
							</div>
						</div>
						<div class="show-program__grid-item-hidden">
							На вопрос «что интересно вашему ребенку, если ему уже более 3 лет», наиболее популярны ответы: игры, животные, фокусы. Все эти составляющие есть в номерах фокусы с животными на праздник.
							Дети наблюдают за волшебством, учатся этому искусству, принимают участие в играх. Фокусники приводят с собой разных дрессированных животных: собачек, кошек, петухов и куриц, голубей, морских свинок, хорьков, кроликов, крыс и других. Они то появляются из ниоткуда, то исчезают, то превращаются еще в какого-нибудь зверька. <br>
							Для исполнения номера артисты приносят с собой инвентарь в виде коробочек разных размеров, труб, стеклянных рам и даже посуды: кастрюли, стаканы и т.д. В арсенале иллюзионистов также платки, веревки, кольца и стекло. <br>
							Непременно повезет тем детям, к кому на День Рождения придут фокусники со зверушками. Ведь они способны подарить много положительных эмоций: радость, интригу, удивление, азарт и нежность. Животных можно подержать на руках и погладить, поиграть с ними.
							Артисты, которые предлагают номера с фокусами, являются дрессировщиками, и, как правило, у них есть еще и другие программы, где они показывают цирковые трюки с дрессированными животными.
						</div>
						<button class="button button--card" data-popup="descr">Подробнее</button>
					</div>
					<div class="show-program__grid-item">
						<b class="show-program__grid-item-title">Шоу неоновых мыльных пузырей</b>
						<img src="img/program8.png" alt="" class="show-program__grid-item-image">
						<div class="show-program__grid-item-descr">
							<div class="show-program__grid-item-descr-time">
								<img src="img/watch.svg" alt="Время" class="show-program__grid-item-descr-time-image">
								<span class="show-program__grid-item-descr-time-value">45 минут</span>
							</div>
							<div class="show-program__grid-item-descr-price">
								<img src="img/money.svg" alt="Цена" class="show-program__grid-item-descr-price-image">
								<span class="show-program__grid-item-descr-price-value">9 000 руб.</span>
							</div>
						</div>
						<div class="show-program__grid-item-hidden">
							Шоу неоновых мыльных пузырей. Представление может быть простым или грандиозным, с использованием большого количества реквизитов, интересных трюков, уникальных зрелищных спецэффектов и сюрпризов. В сочетании с необычной сценографией, оригинальным музыкальным сопровождением и световым оформлением такие номера смотрятся феерично, оставляют массу позитивных эмоций, дарят эстетическое наслаждение.
						</div>
						<button class="button button--card" data-popup="descr">Подробнее</button>
					</div>
				</div>
				<button class="button" data-block="full">Все программы</button>
			</div>
		</section>
		<section class="additional">
			<div class="additional__content">
				<h2 class="title-section">Дополнительно</h2>
				<div class="additional__grid">
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Фотосъёмка</b>
						<img src="img/dop1.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">3 500 руб.</span></div>
					</div>
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Видеосъёмка</b>
						<img src="img/dop2.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">4 500 руб.</span></div>
					</div>
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Украшение шарами</b>
						<img src="img/dop3.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">От 5 000 руб.</span></div>
					</div>
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Аквагримёр</b>
						<img src="img/dop4.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">4 000 руб.</span></div>
					</div>
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Светомузыка</b>
						<img src="img/dop5.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">9 000 руб.</span></div>
					</div>
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Шаржист</b>
						<img src="img/dop6.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">4 000 руб.</span></div>
					</div>
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Сладкая вата</b>
						<img src="img/dop7.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">4 500 руб.</span></div>
					</div>
					<div class="additional__grid-item">
						<b class="additional__grid-item-name">Шоколадный фонтан</b>
						<img src="img/dop8.png" alt="" class="additional__grid-item-image">
						<div class="additional__grid-item-price"><img src="img/money.svg" alt="" class="additional__grid-item-price-image"><span class="additional__grid-item-price-value">5 500 руб.</span></div>
					</div>
				</div>
			</div>
		</section>
		<section class="reviews">
			<div class="reviews__content">
				<h2 class="title-section title-section--w">Отзывы</h2>
				<div class="reviews__video">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/qGn9LDl1sA0?controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</section>
		<section class="contacts">
			<div class="contacts__content">
				<h2 class="title-section">Контакты</h2>
				<div class="contacts__link">
					<div class="contacts__link-mail">
						<img src="img/envelope.svg" alt="Почта" class="contacts__link-mail-image">
						<a href="mailto:info@starkids.studio" class="contacts__link-mail-value">info@starkids.studio</a>
					</div>
					<div class="contacts__link-phone">
						<img src="img/phone.svg" alt="Телефон" class="contacts__link-phone-image">
						<a href="tel:89160073568" class="contacts__link-phone-value">89160073568</a>
					</div>
					<div class="contacts__link-social">
						<a href="" class="contacts__link-social-item contacts__link-social-item--insta">Instagram</a>
						<a href="" class="contacts__link-social-item contacts__link-social-item--telegram">Telegram</a>
						<a href="" class="contacts__link-social-item contacts__link-social-item--viber">Viber</a>
						<a href="" class="contacts__link-social-item contacts__link-social-item--whatsapp">Whatsapp</a>
					</div>
				</div>
			</div>
		</section>
	</main>
	//= include/footer.html
	<div class="overlay"></div>
	<form action="" class="popup-form">
		<div class="popup-form__close"></div>
		<b class="popup-form__title">Наш специалист свяжется с вами
			и ответит на все вопросы.</b>
		<div class="popup-form__bunch">
			<label for="name">
				<input type="text" id="name" name="name" required>
				<div>Имя</div>
			</label>
		</div>
		<div class="popup-form__bunch">
			<label for="tel">
				<input type="tel" id="tel" name="tel" required>
				<div>Телефон</div>
			</label>
		</div>
		<button type="submit" class="popup-form__button">Отправить</button>
	</form>
	<div class="popup-descr">
		<div class="popup-descr__close"></div>
		<b class="popup-descr__title"></b>
		<div class="popup-descr__content"></div>
		<button class="button button--card" data-popup="form">Заказать</button>
	</div>
	<div class="popup-success">
		<div class="popup-success__close"></div>
		<b class="popup-success__title">Ваша заявка отправлена</b>
		<div class="popup-success__descr">Наши специалисты свяжутся с вами в ближайшее время</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="js/app.min.js"></script>
	<script>
	$(document).ready(function() {
		$('.popup-form').on('submit', function(event) {
			var $this = $(this);
			$.ajax({
				url: '/ajax/main-form.php',
				data: $this.serialize(),
				type: 'POST',
				dataType: 'html',
				success: function(res) {
					$('.popup-success')[0].classList.add('popup-success--open');
					$('.overlay')[0].classList.add('overlay--open');
					$('body')[0].classList.add('page-body--overlay');
					$('.popup-form')[0].classList.remove('popup-form--open');
					$('.popup-form')[0].reset();
				},
				fail: function(jqXHR, textStatus, error) {
					alert('Произошла огибка при отправке формы');
				}
			});
			return false;
		});
	});
	</script>
</body>

</html>