<header class="page-header">
	<div class="page-header__content">
		<div class="page-header__logo"><img src="img/logo.svg" alt="" class="page-header__logo-image"></div>
		<div class="main-nav">
			<div class="main-nav__toggle"></div>
			<ul class="main-nav__list">
				<li class="main-nav__list-item">
					<a class="main-nav__list-item-link" onclick="$('.about-us .title-section').animatescroll();">О нас</a>
				</li>
				<li class="main-nav__list-item">
					<a class="main-nav__list-item-link" onclick="$('.animators .title-section').animatescroll();">Аниматоры</a>
				</li>
				<li class="main-nav__list-item">
					<a class="main-nav__list-item-link" onclick="$('.services .title-section').animatescroll();">Услуги</a>
				</li>
				<li class="main-nav__list-item">
					<a class="main-nav__list-item-link" onclick="$('.program .title-section').animatescroll();">Программа</a>
				</li>
				<li class="main-nav__list-item">
					<a class="main-nav__list-item-link" onclick="$('.show-program .title-section').animatescroll();">Шоу программы</a>
				</li>
				<li class="main-nav__list-item">
					<a class="main-nav__list-item-link" onclick="$('.additional .title-section').animatescroll();">Дополнительно</a>
				</li>
				<li class="main-nav__list-item">
					<a class="main-nav__list-item-link" onclick="$('.reviews .title-section').animatescroll();">Отзывы</a>
				</li>
				<li class="main-nav__list-item">
					<a class="main-nav__list-item-link" onclick="$('.contacts .title-section').animatescroll();">Контакты</a>
				</li>
			</ul>
		</div>
	</div>
</header>