<header class="page-header">
	<div class="page-header__content">
		<div class="page-header__logo"><img src="img/logo.svg" alt="" class="page-header__logo-image"></div>
		<div class="main-nav">
			<ul class="main-nav__list">
				<li class="main-nav__list-item"><a href="" class="main-nav__list-item-link">О нас</a></li>
				<li class="main-nav__list-item"><a href="" class="main-nav__list-item-link">Аниматоры</a></li>
				<li class="main-nav__list-item"><a href="" class="main-nav__list-item-link">Услуги</a></li>
				<li class="main-nav__list-item"><a href="" class="main-nav__list-item-link">Программа</a></li>
				<li class="main-nav__list-item"><a href="" class="main-nav__list-item-link">Шоу программы</a></li>
				<li class="main-nav__list-item"><a href="" class="main-nav__list-item-link">Дополнительно</a></li>
				<li class="main-nav__list-item"><a href="" class="main-nav__list-item-link">Отзывы</a></li>
				<li class="main-nav__list-item"><a href="" class="main-nav__list-item-link">Контакты</a></li>
			</ul>
		</div>
	</div>
</header>