.main-nav {
	flex-grow: 2;
	margin-top: auto;
	margin-bottom: auto;

	&__toggle {
		display: none;
	}

	&__list {
		width: 100%;
		list-style: none;
		display: flex;
		padding: 0;
		margin: 0;
		justify-content: space-between;

		&-item {
			&-link {
				color: #fff;
				text-decoration: none;
				font-size: 17px;
				cursor: pointer;
				position: relative;
				margin-top: 3px;
				padding-bottom: 3px;
				overflow-y: hidden;
				display: block;



				&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					top: 100%;
					left: 0;
					background-color: #fff;
					transition: 0.4s transform;

				}

				&:hover {
					&::after {
						transform: translateY(-2px);
					}
				}
			}
		}
	}
}

@media #{$tablet-widths} {
	.main-nav {
		z-index: 10000;

		&__toggle {
			position: absolute;
			background-color: #fff;
			display: block;
			width: 25px;
			height: 3px;
			font-size: 0;
			border: none;
			right: 20px;
			top: 50%;
			transition: 0.4s all;
			z-index: 1000;
			outline: none;

			&::before,
			&::after {
				content: "";
				position: absolute;
				background-color: #fff;
				width: 100%;
				height: 100%;
				left: 0;
				transition: 0.4s all;
			}

			&::before {
				top: -7px;
			}

			&::after {
				bottom: -7px;
			}

			&--open {
				background-color: transparent;

				&::before,
				&::after {
					background-color: #fff;
				}

				&::before {
					transform-origin: top left;
					transform: rotate(45deg);
				}

				&::after {
					transform-origin: bottom right;
					transform: rotate(45deg);
				}
			}
		}

		&__list {
			position: absolute;
			flex-direction: column;
			left: 0;
			background-color: $main-color;
			top: 100%;
			display: none;

			&-item {
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 18px;

				&:nth-child(2n) {
					background-color: #82809a;
				}
				&-link{
					&::after{
						display: none;
						
					}
				}
			}
		}
	}

}