.main-nav{
	flex-grow: 2;
	margin-top: auto;
	margin-bottom: auto;
	&__list{
		width: 100%;
		list-style: none;
		display: flex;
		padding: 0;
		margin: 0;
		justify-content: space-between;
		&-item{
			&-link{
				color: #fff;
				text-decoration: none;
				font-size: 17px;
			}
		}
	}
}