.page-footer{
	display: flex;
	justify-content: center;
	background-image: url(../img/footer.png);
	background-size: cover;
	padding-top: 131px;
	padding-bottom: 79px;
	margin-top: -50px;
	color: #fff;
}