.popup-success {
	z-index: 10000;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 320px;
	background-color: #fff;
	background-image: url(../img/logo45-grey-trans.svg);
	background-size: 70px auto;
	background-position: 0 -10px;
	background-repeat: repeat;
	z-index: 10000;
	padding-left: 20px;
	opacity: 0.9;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 20px;
	box-sizing: border-box;
	border-radius: 8px;
	opacity: 0;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	background-size: 70px auto;
	background-position: 0 -10px;
	background-repeat: repeat;
	color: $main-color;

	&--open {
		visibility: visible;
		opacity: 1;
		transition: 0.4s opacity;
	}

	&__title {
		font-size: 16px;
		margin-bottom: 25px;
		color: $main-color;
	}

	&__close {
		position: absolute;
		width: 40px;
		height: 40px;
		right: 10px;
		top: 10px;
		cursor: pointer;

		&::before {
			position: absolute;
			right: 0;
			content: "";
			width: 20px;
			height: 2px;
			top: 10px;
			background-color: $main-color;
			transform: rotate(-45deg);
		}

		&::after {
			position: absolute;
			right: 0;
			content: "";
			width: 20px;
			height: 2px;
			top: 10px;
			background-color: $main-color;
			transform: rotate(45deg);
		}
	}
}
@media #{$mobile-widths}  {
	.popup-success{
		width: calc(100% - 20px);
	}
}