.popup-form {
	z-index: 10000;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 360px;
	background-color: #fff;
	z-index: 10000;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 20px;
	box-sizing: border-box;
	border-radius: 8px;
	opacity: 0;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	background-image: url(../img/logo45-grey-trans.svg);
	background-size: 70px auto;
	background-position: 0 -10px;
	background-repeat: repeat;

	&--open {
		visibility: visible;
		opacity: 1;
		transition: 0.4s opacity;
	}

	&__title {
		font-size: 16px;
		margin-bottom: 25px;
	}

	&__close {
		position: absolute;
		width: 40px;
		height: 40px;
		right: 10px;
		top: 10px;
		cursor: pointer;

		&::before {
			position: absolute;
			right: 0;
			content: "";
			width: 20px;
			height: 2px;
			top: 10px;
			background-color: $main-color;
			transform: rotate(-45deg);
		}

		&::after {
			position: absolute;
			right: 0;
			content: "";
			width: 20px;
			height: 2px;
			top: 10px;
			background-color: $main-color;
			transform: rotate(45deg);
		}
	}

	input {
		width: 100%;
		padding: 0;
		transition: 0.4s all;
		resize: none;
		box-sizing: border-box;
		padding-left: 4px;
		padding-right: 4px;
		padding-top: 3px;
		padding-bottom: 3px;
		z-index: 100;
		display: block;
		border-radius: 0;
		margin-bottom: 0;
		outline: none;
		background-color: transparent;

		&:hover,
		&:focus {
			border-color: $main-color;
		}

		&:focus+div {
			font-size: 13px;
			transform: translateY(-48px);
		}

		&:valid {
			border-color: $main-color;
		}

		&:valid+div {
			font-size: 13px;
			transform: translateY(-48px);
		}
	}

	input {
		border: none;
		border-bottom: 2px solid rgba(92, 89, 123, 0.7);
		color: $main-color;
	}

	label {
		margin-bottom: 5px;
	}

	&__bunch {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
		width: 100%;
		position: relative;

		div {
			position: relative;
			color: $main-color;
			opacity: 0.7;
			cursor: text;
			font-size: 16px;
			line-height: 20px;
			transform: translateY(-28px);
			transition: all .3s;
			padding-left: 3px;
		}
	}

	button {
		width: 100%;
		background-color: $main-color;
		border-radius: 8px;
		color: #fff;
		text-align: center;
		font: inherit;
		font-weight: 500;
		border: none;
		box-shadow: 0px 5px 8px 1px rgba(51, 51, 51, 0.2);
		cursor: pointer;
		padding-top: 10px;
		padding-bottom: 10px;

		&:hover,
		&:focus {
			border-color: $main-color;
		}
	}
}