.title-section {
	font-size: 34px;
	color: $main-color;
	position: relative;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 0;
	display: flex;
	width: 100%;
	justify-content: center;
	overflow: hidden;


	&::before {
		content: "";
		position: absolute;
		height: 3px;
		background-color: $main-color;
		width: 100%;
		top: 50%;
		transform: translate(calc(-50% - 169px), -50%);
	}

	&::after {
		content: "";
		position: absolute;
		height: 3px;
		background-color: $main-color;
		width: 100%;
		top: 50%;
		left: 0;
		transform: translate(calc(50% + 169px), -50%);
	}

	&--w {
		color: #fff;

		&::before,
		&::after {
			background-color: #fff;
		}
	}
}

@media (max-width: 510px) {
	.title-section {
		font-size: 24px;

		&::before {
			display: none;
			
		}

		&::after {
			display: none;
			
		}
	}
}